.search {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.search input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: #e0e0e0;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #6552f4;
  cursor: pointer;
}
